@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Sans Arabic";
}

.fontTech {
  font-family: "IBM Plex Sans Arabic";
}

.Robot {
  font-family: "Roboto", sans-serif;
}

.knowMoreAboutMeArrow {
  animation-name: knowMoreAboutMe;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-bottom: 2rem;
  animation-direction: alternate;
}

@keyframes knowMoreAboutMe {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}

.knowMoreAboutMe:hover {
  color: rgba(0, 0, 0, 0.616);
}

.inputCont {
  @apply flex flex-col w-full;
}

.inputContRadio {
  @apply flex flex-row w-full;
}

.inputlabel {
  @apply font-semibold mb-2;
}

.input {
  @apply rounded py-2 px-5 mb-4;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.nav-item {
  display: flex;
  flex-direction: row;
  padding: 12px 16px;
}

.card {
  @apply flex justify-center items-center w-full bg-white min-h-[400px];
}

.placeOrderHeader {
  @apply mb-2 text-slate-500;
}

.wholeOrderItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  border: 1px solid #dadce0;
  border-radius: 7px;
  justify-content: space-around;
  margin: 1rem 0rem;
  width: 100%;
}

.wholeOrderItem .orderItemPart {
  width: 20%;
  display: flex;
  justify-content: center;
}
